Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.journaldev.com/Employee"
        xmlns:empns="http://www.journaldev.com/Employee"
        elementFormDefault="qualified">

    <element name="empRequest" type="empns:empRequest"/>
    <element name="empResponse" type="empns:empResponse"/>

    <complexType name="empRequest">
        <sequence>
            <element name="id" type="int"/>
        </sequence>
    </complexType>

    <complexType name="empResponse">
        <sequence>
            <element name="id" type="int"/>
            <element name="role" type="string"/>
            <element name="fullName" type="string"/>
        </sequence>
    </complexType>

</schema>